# compiled output
/packages/backend/dist
/packages/backend/node_modules

# Logs
/packages/backend/logs
/packages/backend/*.log
/packages/backend/npm-debug.log*
/packages/backend/pnpm-debug.log*
/packages/backend/yarn-debug.log*
/packages/backend/yarn-error.log*
/packages/backend/lerna-debug.log*

# OS
/packages/backend/.DS_Store

# Tests
/packages/backend/coverage
/packages/backend/.nyc_output

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# docker
docker/
node_modules
